@import './variables.scss';

.card {
  width: 23rem;
  border-radius: $border-radius!important;
  background-color: $main-color!important;

  &__text {
    margin-top: .3rem;
    margin-left: .8rem;
  }
}