.container {
  border: 1px solid #3182ce;
  box-shadow: 0 0 0 1px #3182ce;
  outline: 2px solid transparent;
  outline-offset: 2px;
  border-radius: .4rem;
  padding: 0 .89rem;
  height: 2.5rem;
  transition-duration: 0.3s;
}

.container_error {
  border: 1px solid #ff4747;
  box-shadow: 0 0 0 1px #ff4747;
  transition-duration: 0.3s;
}

.container div {
  width: 2.5rem;
}

.container div button {
  border: none;
}

.input {
  border: none!important;
  height: 100%!important;
  padding: 0 0 0 .2rem!important;
  font-size: 1rem!important;
}