//Sizes, measures
$text-size: 1rem;
$border-radius: .9rem;

//Colors
$main-color: #ECECEC;
$boton-color: #111042;
$subtitle-color: #636363;
$text-color: #000000;
$sky-blue-color: #00C4C8;
$pink-color: #B5456E;